/* INIT */
#wall_input {
	margin: 10px;
	background: #c4c4c4;
	border: 1px solid #aaa;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#wall_input div.input label {
	display: none;
}

#wall_input div.input input[type="text"],
#wall_input div.input textarea {
	margin: 5px;
	background: #fff;
	color: #333;
	border: 1px solid #aaa;
	width: 438px;
	resize: none;
	font-family: helvetica, Arial, sans-serif;
	font-size: 1.6em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.submit {
	float: right;
	margin: 0 5px 5px 5px;
}

#wall_input div.controls {
	margin: 0 5px 5px 5px;
	padding: 5px;
	height: 16px;
	width: 384px;
	background: #ccc;
	border: 1px solid #aaa;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.submit input[type="submit"] {
	background: #d3ef91;
	border: 1px solid #aaa;
	color: #333;
	padding: 3px 6px;
	font-size: 16px;
	height: 28px;
	width: 46px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.submit input[type="submit"]:hover {
	background: #C1EF52;
	color: #000;
}

/* HOVER */
#wall_input.hover div.input input[type="text"],
#wall_input.hover div.input textarea {
	color: #669b00;
	border: 1px solid #669b00;
}

/* FOCUS */
#wall_input.focus div.input input[type="text"],
#wall_input.focus div.input textarea {
	border: 1px solid #669b00;
}