div.post {
	margin-bottom: 10px;
	width: 458px;
}

div.post div.action,
div.post div.wall_post {
	position: relative;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.post div.action {
	padding: 5px 10px;
	background: #444;
}

div.post div.wall_post {
	padding: 10px;
	background: #333;
}

div.post div.wall_post div.avatar {
	float: left;
	margin-right: 10px;
}

div.post div.wall_post div.content {
	margin: 0 15px 15px 70px;
	width: 353px;
	overflow: hidden;
}

div.post div.wall_post div.content a.expand {
	/* needs to be a gradient */
	background: #333;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-size: 1.1em;
	font-weight: bold;
}

div.post div.wall_post div.content h1 {
	font-size: 2.4em;
	line-height: 2.4em;
	text-decoration: underline;
	font-weight: bold;
}

div.post div.wall_post div.content h2 {
	font-size: 1.8em;
	line-height: 1.8em;
	text-decoration: underline;
	font-weight: bold;
}

div.post div.wall_post div.content h3 {
	font-size: 1.6em;
	line-height: 1.6em;
	text-decoration: underline;
	font-weight: bold;
}

div.post div.content p {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 15px;
}

div.post div.wall_post div.content ul,
div.post div.wall_post div.content ol {
	margin-bottom: 15px;
}

div.post div.wall_post div.content ul {
	list-style: disc inside none;
}

div.post div.wall_post div.content ol {
	list-style: decimal inside none;
}

div.post div.wall_post div.content li {
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
}

div.post div.wall_post div.content pre {
	padding: 2px 4px;
	margin-bottom: 15px;
	background: #000;
}

div.post div.wall_post div.content code {
	font-size: 14px;
	line-height: 16px;
	background: #000;
	color: #fff;
}

div.post div.delete_post {
	position: absolute;
	top: 10px;
	right: 10px;
}

div.post div.wall_to_wall {
	position: absolute;
	top: 30px;
	right: 10px;
}

div.post div.wall_to_wall:hover,
div.post div.delete:hover {
	background: #444;
}

div.post div.baseline {
	position: absolute;
	bottom: 10px;
	margin-left: 70px;
	width: 368px;
}

div.post div.baseline div.time {
	float: right;
}

div.post div.baseline div.time p {
	color: #888;
	font-size: 1.1em;
	font-weight: bold;
}

div.post div.wall_post div.baseline div.baseline_info {
	display: none;
	float: left;
}

div.post div.wall_post div.baseline div.baseline_info p {
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 1em;
	float: left;
	color: #888;
}

div.post div.wall_post div.baseline div.baseline_controls {
	float: left;
}

div.post div.wall_post div.baseline div.baseline_controls a {
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 1em;
}

div.post div.commentsWrap {
	width: 358px;
	margin: 0 15px 0 75px;
}

div.post div.comments {
	padding: 5px;
	background: #444;
	position: relative;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.post div.comments div.comment,
div.post div.comments div.likeness {
	padding: 5px;
	background: #454545;
	width: 338px;
	position: relative;
	border-bottom: 1px solid #595959;
	min-height: 16px;
}

div.post div.comments  div.comment div.avatar {
	float: left;
	margin-right: 5px;
}

div.post div.comments div.comment div.content {
	margin: 0 15px 15px 35px;
	overflow: hidden;
}

div.post div.comments div.comment div.content p {
	font-size: 1.2em;
	line-height: 1.2em;
}

div.post div.comments div.comment div.delete_comment {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.post div.comments div.comment div.time {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

div.post div.comments div.comment div.time p {
	color: #888;
	font-size: 1.0em;
}

div.post div.comments div.likeness h3,
div.post div.comments div.likeness li {
	float: left;
	font-size: 1.2em;
	line-height: 1.2em;
}

div.post div.comments div.likeness li {
	list-style: none;
	padding-left: 5px;
}

div.post div.comments div.comment_input {
	position: relative;
}

div.post div.comments div.comment_input label {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 12px;
	color: #949494;
	display: none;
}

div.post div.comments div.comment_input input[type="text"],
div.post div.comments div.comment_input textarea {
	width: 293px;
	font-size: 12px;
	padding: 3px 50px 3px 3px;
	background: #dedede;
}

div.post div.comments div.comment_input input[type="text"] {
	height: 18px;
}

div.post div.comments div.comment_input textarea {
	font-family: Helvetica, Arial, sans-serif;
	resize: none;
}

div.post div.comments div.comment_input input[type="submit"] {
	position: absolute;
	top: 5px;
	right: 0;
	width: 50px;
	font-size: 12px;
	color: #949494;
	cursor: pointer;
}

div.post div.comments div.comment_input.active input[type="text"],
div.post div.comments div.comment_input.active textarea {
	border: 1px solid #669b00;
	background: #fff;
}

div.post div.comments div.comment_input.active label,
div.post div.comments div.comment_input.active input[type="submit"] {
	color: #669b00;
}

div.post div.comments div.comment_input.focus input[type="submit"] {
	font-weight: bold;
	text-decoration: underline;
}

div.post div.comments div.comment_input.focus input:hover[type="submit"] {
	color: #86cf00;
}