/* INIT */
#wall_input {
	margin: 10px;
	background: #333;
	border: 1px solid #333;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#wall_input div.input label {
	display: none;
}

#wall_input div.input input[type="text"],
#wall_input div.input textarea {
	margin: 5px;
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	width: 438px;
	resize: none;
	font-family: helvetica, Arial, sans-serif;
	font-size: 1.6em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.submit {
	float: right;
	margin: 0 5px 5px 5px;
}

#wall_input div.submit input[type="submit"] {
	background: #d3ef91;
	border: 1px solid #669b00;
	color: #000;
	padding: 3px 6px;
	font-size: 16px;
	height: 28px;
	width: 46px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.submit input[type="submit"]:hover {
	background: #c1ef52;
	border: 1px solid #669b00;
	color: #000;
}

#wall_input div.controls {
	position: relative;
	margin: 0 5px 5px 5px;
	height: 26px;
	width: 394px;
	border: 1px solid #444;
	/* display: none; */

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wall_input div.controls div.label,
#wall_input div.controls div.acl_scope,
#wall_input div.controls div.share_scope{
	float: left;
	margin: 2px;
	padding: 2px;
	z-index: 3;
	position: relative;
}

#wall_input div.controls div.label h3{
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #fff;
	width: 40px;
}

#wall_input div.controls div.acl_scope:hover,
#wall_input div.controls div.share_scope:hover{
	margin: 1px;
	border: 1px solid #aaa;
	background: #ddd;
}

#wall_input div.controls div.acl_scope.focus,
#wall_input div.controls div.share_scope.focus{
	margin: 1px;
	padding-bottom: 3px;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #ddd;
}

#wall_input div.controls div.acl_scope_menu,
#wall_input div.controls div.share_scope_menu{
	/* display: none; */
	z-index: 2;
	position: absolute;
	top: 24px;
	background: #ddd;
	border: 1px solid #aaa;
	padding: 10px;
	color: #333;
	display: none;
}

#wall_input div.controls div.acl_scope_menu{
	left: 49px;
}
#wall_input div.controls div.share_scope_menu{
	left: 73px;
}

/* HOVER */
#wall_input.hover div.input input[type="text"],
#wall_input.hover div.input textarea {
	color: #669b00;
	border: 1px solid #669b00;
}

/* FOCUS */
#wall_input.focus div.input input[type="text"],
#wall_input.focus div.input textarea {
	colour: #000;
	border: 1px solid #669b00;
}