#news_feed{
	padding: 20px;
}
#news_feed div.update{	
	padding: 10px;
	background: #333;
	margin-bottom: 10px;
	position: relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#page_head a.rss_link{
	top:26px;
	right:20px;
	position: absolute;
	text-indent: -9999px;
	background: url(../../img/icons/rss_big.png) no-repeat;
	height: 32px;
	width: 32px;
}
#page_head a.rss_link:hover{
	background: url(../../img/icons/rss_big_add.png) no-repeat;
}