/* CLEARFIX */
.clearfix:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0; }
/* RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* DEFAULT HTML & BODY STYLES */
html{
	font-size: 62.5%;
	background:#252525;
}
body{
	color: #efefef;
	font-family: Helvetica, Arial, sans-serif;
}

/* DEFAULT HEADING STYLES */
h1, h2, h3, h4, h5, h6{
	/* h1 - h6 rules */
}
h1{
	/* h1 - rules */
}
h2{
	/* h2 - rules */
}
h3{
	/* h3 - rules */
}
h4{
	/* h4 - rules */
}
h5{
	/* h5 - rules */
}
h6{
	/* h6 - rules */
}

h1.pageHeading{
	font-size: 3.6em;
	line-height: 3.6em;
	text-align: center;
}

/* DEFAULT ANCHOR STYLES */
a{
	color: #d3ef91;
	text-decoration: underline;
}
a:hover{
	color: #c1ef52;
}

/* DEFAULT PARAGRAPH RELATED STYLES */
p{
	/* p - rules */
}
strong{
	/* strong - rules */
}
em{
	/* em - rules */
}
pre{
	/* pre - rules */
}
code{
	/* code - rules */
}
blockquote{
	/* blockquote - rules */
}
del{
	/* del - rules */
}
ins{
	/* ins - rules */
}

/* DEFAULT LIST STYLES */
ul{
	/* ul - rules */
}
ol{
	/* ol - rules */
}
menu{
	/* menu - rules */
}

/* DEFAULT TABLE STYLES */
table{
	/* table - rules */
}
thead{
	/* thead - rules */
}
tfoot{
	/* tfoot - rules */
}
tbody{
	/* tbody - rules */
}
tr{
	/* tr - rules */
}
td{
	/* td - rules */
}
th{
	/* th - rules */
}

/* DEFAULT FORM STYLES */
form{
}
label{	
	font-size: 1.3em;
	line-height: 1.3em;
}
input[type="text"]{
	border: 1px solid #ccc;
	outline:none;
	font-size: 16px;
	padding: 3px;
}
input[type="password"]{
	border: 1px solid #ccc;
	outline:none;
	font-size: 16px;
	padding: 3px;
}
input[type="submit"]{
	outline:none;
	background:transparent;
	border:none;
	height:auto;
	margin:0;
	outline: none;
	padding:0;
}
input[type="radio"]{
	border: 2px solid #ccc;
	outline:none;
}
input[type="checkbox"]{
	border: 1px solid #ccc;
	outline:none;
}
select{
	/* select - rules */
}
option{
	/* option - rules */
}
optgroup{
	/* optgroup - rules */
}
#copyright{
	text-align: center;
	padding: 25px 0;
}
#copyright p{
	color: #565656;
	font-size: 1.3em;
}
#copyright a{	
	color: #787878;
}
#copyright a:hover{	
	color: #fff;
}
#sql_dump{
	font-size: 1.6em;
	width: 890px;
	margin: 0 auto;
	padding: 40px;
	color: #151515;
	font-weight: bold;
}
#sql_dump td{
	line-height: 1.2em;
	padding-bottom: 1.2em;
}