/* CLEARFIX */
.clearfix:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0; }html[xmlns] .clearfix{	display:block;}* html .clearfix{height:1%;}
/* RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* DEFAULT HTML & BODY STYLES */
html{
	font-size: 62.5%;
	background:#252525;
}
body{
	color: #efefef;
	font-family: Helvetica, Arial, sans-serif;
}

/* DEFAULT HEADING STYLES */
h1, h2, h3, h4, h5, h6{
	/* h1 - h6 rules */
}
h1{
	/* h1 - rules */
}
h2{
	/* h2 - rules */
}
h3{
	/* h3 - rules */
}
h4{
	/* h4 - rules */
}
h5{
	/* h5 - rules */
}
h6{
	/* h6 - rules */
}

h1.pageHeading{
	font-size: 3.6em;
	line-height: 3.6em;
	text-align: center;
}

/* DEFAULT ANCHOR STYLES */
a:link{
	color: #d3ef91;
	text-decoration: underline;
}
a:hover{
	color: #c1ef52;
}
a:visited{
	color: #dfd0e7;
}

/* DEFAULT PARAGRAPH RELATED STYLES */
p{
	/* p - rules */
}
strong{
	/* strong - rules */
}
em{
	/* em - rules */
}
pre{
	/* pre - rules */
}
code{
	/* code - rules */
}
blockquote{
	/* blockquote - rules */
}
del{
	/* del - rules */
}
ins{
	/* ins - rules */
}

/* DEFAULT LIST STYLES */
ul{
	/* ul - rules */
}
ol{
	/* ol - rules */
}
menu{
	/* menu - rules */
}

/* DEFAULT TABLE STYLES */
table{
	/* table - rules */
}
thead{
	/* thead - rules */
}
tfoot{
	/* tfoot - rules */
}
tbody{
	/* tbody - rules */
}
tr{
	/* tr - rules */
}
td{
	/* td - rules */
}
th{
	/* th - rules */
}

/* DEFAULT FORM STYLES */
form{
	border-color: 1px solid #d3ef91;
}
input[type="text"]{
	/* input[type="text"] - rules */
}
input[type="submit"]{
	/* input[type="submit"] - rules */
}
input[type="radio"]{
	/* input[type="radio"] - rules */
}
input[type="checkbox"]{
	/* input[type="checkbox"] - rules */
}
select{
	/* select - rules */
}
option{
	/* option - rules */
}
optgroup{
	/* optgroup - rules */
}

/* SELECTOR STYLES */
#backgroundHead{
	width: 100%;
	height: 300px;
	background: #400c5d url('../img/profile/header.png') no-repeat top center;
	border-bottom: 1px solid #110019;
}
#backgroundBase{
	width: 100%;
	border-top: 1px solid #333;
}
#wrap_content{
	margin-top: -240px;
}
#login_logo{	
	width:980px;
	text-align: center;
	margin: 40px auto 0 auto;
}
#login{
	width:260px;
	padding: 40px;
	margin: 50px auto;
	background: #333;
}
#login label{
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.3em;
}
#login input[type="text"]{
	margin-bottom: 20px;
}
#login input[type="text"],
#login input[type="password"]{
	display: block;
	width: 258px;
	line-height: 2.2em;
	font-size: 1.6em;
}
#login input[type="submit"]{
	margin-top: 20px;
}
#content{
	width: 980px;
	margin: auto;
	height: 1000px;
}
#wrap_main_sidebar{	
	float: left;
	width: 210px;
}
#logo{
	margin: 40px 0;
	text-align: center;
}
#logo img{
	width: 160px;
}
#main_sidebar{
	width: 100%;
	background: #333;
}
#main_sidebar div.avatar{
	width: 60px;
	height: 60px;
	margin-right: 10px;
	float: left;
}
#main_sidebar div.current_user_controls{
	padding: 20px;
}
#main_sidebar div.current_user_controls ul{
	float: left;
}
#main_sidebar div.current_user_controls li{
	list-style: none;
	font-size: 1.3em;
	line-height: 1.2em;
}
#post_to_wall{	
	border-bottom: 1px solid #606060;
	padding: 10px;
}
#post_to_wall textarea{
	width:400px;
}
#profile{
	float: left;
	width:770px;
}
#profile_head{
	background: #333;
}
#profile_gallery{
	float: left;
	width: 480px;
	height: 300px;
	overflow: hidden;
}
#profile_summary{
	float: left;
	width: 290px;
	height: 260px;
}
#profile_summary h1.name{
	text-align: left;
	font-size: 2.4em;
	line-height: 4.0em;
	padding: 0 40px;
}
#profile_summary table{
	width: 250px;
	margin: 0 40px;
}
#profile_summary table th{
	vertical-align: baseline;
	text-align: left;
	font-size: 1.2em;
	line-height: 2.0em;
}
#profile_summary table td{
	vertical-align: baseline;
	text-align: left;
	font-size: 1.2em;
	line-height: 2.0em;
}
#profile_body{
	background: #5c5c5c;
}
#profile_wall{
	width: 480px;
	height: 600px;
	float: left;
}
#profile_sidebar{
	width: 289px;
	height: 560px;
	float: left;
	border-left: 1px solid #606060;
}
#copyright{
	text-align: center;
	padding: 25px 0;
}

#copyright p{
	color: #565656;
	font-size: 1.3em;
}
#copyright a{	
	color: #787878;
}
#copyright a:hover{	
	color: #fff;
}
#sql_dump{
	font-size: 1.6em;
	width: 890px;
	margin: 0 auto;
	padding: 40px;
	background: #5e5e5e;
	color: #363636;
	font-weight: bold; 
}