/* CLEARFIX */
.clearfix:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0; }.clearfix{display:inline-block;}html[xmlns] .clearfix{	display:block;}* html .clearfix{height:1%;}
/* RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* DEFAULT HTML & BODY STYLES */
html{
	font-size: 62.5%;
	background:#252525;
}
body{
	color: #efefef;
	font-family: Helvetica, Arial, sans-serif;
}

/* DEFAULT HEADING STYLES */
h1, h2, h3, h4, h5, h6{
	/* h1 - h6 rules */
}
h1{
	/* h1 - rules */
}
h2{
	/* h2 - rules */
}
h3{
	/* h3 - rules */
}
h4{
	/* h4 - rules */
}
h5{
	/* h5 - rules */
}
h6{
	/* h6 - rules */
}

h1.pageHeading{
	font-size: 3.6em;
	line-height: 3.6em;
	text-align: center;
}

/* DEFAULT ANCHOR STYLES */
a:link{
	color: #d3ef91;
	text-decoration: underline;
}
a:hover{
	color: #c1ef52;
}
a:visited{
	color: #dfd0e7;
}

/* DEFAULT PARAGRAPH RELATED STYLES */
p{
	/* p - rules */
}
strong{
	/* strong - rules */
}
em{
	/* em - rules */
}
pre{
	/* pre - rules */
}
code{
	/* code - rules */
}
blockquote{
	/* blockquote - rules */
}
del{
	/* del - rules */
}
ins{
	/* ins - rules */
}

/* DEFAULT LIST STYLES */
ul{
	/* ul - rules */
}
ol{
	/* ol - rules */
}
menu{
	/* menu - rules */
}

/* DEFAULT TABLE STYLES */
table{
	/* table - rules */
}
thead{
	/* thead - rules */
}
tfoot{
	/* tfoot - rules */
}
tbody{
	/* tbody - rules */
}
tr{
	/* tr - rules */
}
td{
	/* td - rules */
}
th{
	/* th - rules */
}

/* DEFAULT FORM STYLES */
form{
	/* form - rules */
}
input[type="text"]{
	/* input[type="text"] - rules */
}
input[type="submit"]{
	/* input[type="submit"] - rules */
}
input[type="radio"]{
	/* input[type="radio"] - rules */
}
input[type="checkbox"]{
	/* input[type="checkbox"] - rules */
}
select{
	/* select - rules */
}
option{
	/* option - rules */
}
optgroup{
	/* optgroup - rules */
}

/* SELECTOR STYLES */
#wrap_header{
	width: 100%;
	background: #400c5d url('../img/external/header.png') no-repeat top center;
	border-bottom: 1px solid #110019;
}
#header{
	width: 940px;
	height: 40px;
	margin: auto;
	padding: 30px 0;
}
#header div.headerRight{
	float: right;
}
#navigation{
	float: right;
}
#navigation a{
	float: left;
	font-size: 1.6em;
	font-weight: bold;
	text-decoration: none;
	line-height: 40px;
	color: #fff;
	margin-left: 30px;
}
#navigation a:hover{
	color: #dfd0e7;
}
#navigation a:active{
	color: #bc9cce;
}
#logo{
	float: left;
}
#wrap_content{
	border-top: 1px solid #333;
}
#content{
	background: url('../img/external/content.png') no-repeat top center;
	margin: 0 auto 0 auto;
	width: 980px;
}
#taglines{
	width: 980px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
#taglines div.fadeout{
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/external/tagline.fadeout.gif') repeat-y;
	position: absolute;
	z-index: 1;
}
#taglines div.stage{
	position: absolute;
	top:  0;
	left:  0;
	width: 980px;
	z-index: 0;
}
#taglines p.tagline{
	font-size: 3.6em;
	text-align: center;
	line-height: 200px;
	display: block;
	float: left;
	width: 980px;
}
#copyright{
	text-align: center;
	padding: 25px 0;
}
#copyright p{
	color: #565656;
	font-size: 1.3em;
}
#copyright a{	
	color: #787878;
}
#copyright a:hover{	
	color: #fff;
}
#features{
	margin-bottom: 40px;
}
#features div.feature{
	text-align: center;
}
#features div.feature h1{
	font-size: 2.4em;
	line-height: 1.2em;
	margin-top: 1.2em;
}
#features div.feature img{
	border: 5px solid #333;
	width: 600px;
	margin: 15px;
}
#features div.feature p{
	display: block;
	width: 600px;
	margin: 0 auto;
	font-size: 1.8em;
	line-height: 1.2em;
}

#noSignup{
	text-align: center;
	padding: 50px 0 100px 0;
}
#noSignup h1{
	font-size: 3.6em;
	line-height: 3.6em;
}
#noSignup p{
	font-size: 1.6em;
	line-height: 1.6em;
}