/* SELECTOR STYLES */
#backgroundHead{
	width: 100%;
	height: 300px;
	background: #400c5d url(../img/header.png) no-repeat top center;
	border-bottom: 1px solid #110019;
}
#backgroundBase{
	width: 100%;
	border-top: 1px solid #333;
}
#wrap_content{
	margin-top: -242px;
}
#content{
	width: 980px;
	margin: auto;
}
#page{
	float: left;
	width:770px;
}
#page_head{
	background: url(../../img/page_head.png) no-repeat top right;
	position: relative;
}
#page_head h1.page_title{
	font-size: 3.6em;
	line-height: 2.4em;
	font-weight: normal;
	padding: 0 20px;
}
#page_body{
	background: #5c5c5c;	
	border: 1px solid #787878;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #333;
}