div.user{
	padding: 10px;
	background: #333;
	margin-bottom: 10px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.avatar{
	float:left;
	margin-right:10px;
}
div.user div.name{
	font-size: 2.4em;
}
div.user div.summary{
	height: 30px;
}
div.user div.summary div.item{
	height: 30px;
	float: left;
	line-height: 30px;
	font-size: 1.3em;
	padding: 10px 20px 0 0;
	color: #ccc;
}
div.user div.controls{
	float: right;
}
div.user div.controls div.add_friend a,
div.user div.controls div.add_friend p{
	font-size: 1.6em;
	-moz-border-radius: 2px;
	padding: 3px;
	display: block;
	width: 150px;
	text-align: center;
	text-decoration: none;
}
div.user div.controls div.add_friend a{	
	color: #d3ef91;
	background-color: #656565;
	border: 1px solid #d3ef91;
}
div.user div.controls div.add_friend a:hover{
	color: #c1ef52;
	background-color: #8f977c;
	border-color: #c1ef52;
}
div.user div.controls div.add_friend p{	
	font-size: 1.6em;
	color: #d3d3d3;
	background-color: #656565;
	border: 1px solid #d3d3d3;
}