#gallery_options{
	padding: 20px;	
}
#gallery_options div.example{
	position: relative;
	z-index: 1;
	background-color: #656565;
	height: 400px;
	overflow: hidden;
	border: 1px solid #787878;
	border-top: 1px solid #555;
	border-bottom: 1px solid #aaa;
}
#gallery_options div.directional{
	position: absolute;
	z-index: 3;
	top:20px;
	left: 20px;
	width: 48px;
	height: 48px;
	display: none;
}
#gallery_options.nojs div.directional{
	display: block;
	background: url('../../img/settings/directional.png') no-repeat;
}
#gallery_options div.directional div.up{
	position: absolute;
	top:2px;
	left: 16px;
	width: 16px;
	height: 16px;
}
#gallery_options div.directional div.down{
	position: absolute;
	bottom: 2px;
	left: 16px;
	width: 16px;
	height: 16px;
}
#gallery_options div.directional div.left{
	position: absolute;
	top: 16px;
	left: 2px;
	width: 16px;
	height: 16px;
}
#gallery_options div.directional div.right{
	position: absolute;
	top: 16px;
	right: 2px;
	width: 16px;
	height: 16px;
}
#gallery_options div.frame{
	position: absolute;
	z-index: 2;
	height: 400px;
	width: 726px;
	background: url('../../img/settings/gallery_positioning_frame.png') no-repeat;
}
#gallery_options div.photos{
	position: absolute;
	z-index: 1;
	height: 300px;
	width: 480px;
	top: 50px;
	left: 123px;
	
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#gallery_options div.photos img{
	position: relative;
}
#gallery_options div.zoom{
	position: relative;
	height: 16px;
	background: #444;
	border-top: none;
	padding: 10px 20px;
	
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#gallery_options div.zoom div.zoom_in{
	float: left;
	height: 16px;
	width: 16px;
	margin-left: 10px;
}
#gallery_options div.zoom div.zoom_out{
	float: left;
	height: 16px;
	width: 16px;
	margin-left: 104px;
}
#gallery_options.nojs div.zoom div.zoom_out{
	margin-left: 319px;
}
#gallery_options div.zoom div.slider{
	position: relative;
	float: left;
	background: url(../../img/settings/zoom_slider.png) no-repeat;
	height: 16px;
	width: 428px;
	margin-left: 10px;
}
#gallery_options div.zoom div.slide_handle{
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background: url(../../img/settings/zoom_slider.png);
	background-position: -428px 0;
	
}
#gallery_options div.zoom div.slide_handle:hover,
#gallery_options div.zoom div.slide_handle.active{
	background-position: -444px 0;
	
}
#gallery_options.nojs div.zoom div.slider{
	display: none;
}