#gallery_options{
	padding: 20px;	
}
#example{
	position: relative;
	z-index: 1;
	background-color: #656565;
	height: 400px;
	overflow: hidden;
	border: 1px solid #787878;
	border-top: 1px solid #555;
	border-bottom: 1px solid #aaa;
}
#frame{
	position: absolute;
	z-index: 2;
	height: 400px;
	width: 726px;
	background: url('../../img/settings/gallery_positioning_frame.png') no-repeat;
}
#photos{
	position: absolute;
	z-index: 1;
	height: 300px;
	width: 480px;
	top: 50px;
	left: 124px;
	
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#photos img{
	position: relative;
}