#permissions div.aco-object{
	background: #333;
	padding: 20px;
	margin: 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#permissions div.aco-object div.heading h1{
	font-size: 2.4em;
}
#permissions div.aco-object div.heading div.chevron{
	height: 16px;
	width: 16px;
	font-size: 2.4em;
	background: url('/img/chevron');
	background-position: 0 0;
}
#permissions div.aco-group{
	padding: 10px;
	margin-top: 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#permissions div.aco-group.off{
	background: #555;
	border: 1px solid #f88;
}
#permissions div.aco-group.on{
	background: #656565;
	border: 1px solid #c1ef52;
}
#permissions div.decription{
	float: left;
}
#permissions div.decription p{
	font-size: 1.4em;
	line-height: 16px;
}
#permissions div.switch{
	float: right;
}
#permissions div.save_changes{
	text-align: right;
	background: #444;
	padding: 20px;
	margin: 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#permissions div.save_changes input[type="submit"]{
	font-size: 1.4em;
	color: #d3ef91;
	background-color: #656565;
	border: 1px solid #d3ef91;
	-moz-border-radius: 2px;
	padding: 6px;
}
#permissions div.save_changes input[type="submit"]:hover{
	color: #c1ef52;
	background-color: #8f977c;
	border-color: #c1ef52;
}