div.options_group{
	background: #333;
	margin: 20px 20px 0 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.options_group table{
	width: 688px;
	margin: 0 20px;
}
div.options_group td{
	padding:10px 0;
}
div.options_group td.field{
	text-align: right;
}
div.options_group h1{
	font-size: 2.4em;
	padding: 20px;
}
div.options_group label{
	width: 50%;
	height: 20px;
	font-size: 2em;
	line-height: 20px;
}
div.options_group input[type="text"]{
	height: 20px;
	padding: 3px;
	width: 316px;
}
div.options_group select{
	height: 26px;
	width: 324px;
}
div.options_group select,
div.options_group input[type="text"]{
	font-size: 1.6em;
	font-weight: bold;
	color: #363636;
	line-height: 20px;
}
div.options_group input[type="submit"]{
	font-size: 1.6em;
	float: right;
	color: #d3ef91;
	background-color: #656565;
	border: 1px solid #d3ef91;
	-moz-border-radius: 2px;
	padding: 3px;
	margin: 20px;
}
div.options_group input[type="submit"]:hover{
	color: #c1ef52;
	background-color: #8f977c;
	border-color: #c1ef52;
}
div.options_group div.date select{
	width: 105px;
}