div.options_group {
	background: #333;
	margin: 20px;
	padding-bottom: 20px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.options_group table {
	width: 688px;
	margin: 0 20px;
}

div.options_group td {
	padding: 10px 0;
}

div.options_group td.field {
	text-align: right;
}

div.options_group h1 {
	font-size: 2.4em;
	padding: 20px;
}

div.options_group a.button,
div.options_group input[type="submit"] {
	font-size: 1.6em;
	color: #d3ef91;
	background-color: #656565;
	border: 1px solid #d3ef91;
	-moz-border-radius: 2px;
	padding: 3px;
	margin: 20px auto;
	display: block;
	width: 150px;
	text-align: center;
	text-decoration: none;
}

div.options_group a.button:hover,
div.options_group input[type="submit"]:hover {
	color: #c1ef52;
	background-color: #8f977c;
	border-color: #c1ef52;
}

div.options_group label {
	width: 50%;
	height: 20px;
	font-size: 2em;
	line-height: 20px;
}

div.options_group input[type="text"] {
	height: 20px;
	padding: 3px;
	width: 316px;
}

div.options_group select {
	height: 26px;
	width: 324px;
}

div.options_group select,
div.options_group input[type="text"] {
	font-size: 1.6em;
	font-weight: bold;
	color: #363636;
	line-height: 20px;
}

div.options_group div.date select {
	width: 105px;
}

div.options_group p {
	font-size: 1.3em;
	padding: 0 0 20px 20px;
}

div.groups_list {
	width: 210px;
	margin: 20px;
	padding: 10px;
	background: #252525;
	float: left;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.group {
	padding: 5px 10px;
	position: relative;
}

div.group.current {
	background: #484848;
	border: 1px solid #5c5c5c;
	padding: 4px 9px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.group a.button {
	font-size: 1.6em;
}

div.group div.delete {
	position: absolute;
	top: 10px;
	right: 10px;
}
/*
div.group_permissions {
	width: 458px;
	margin: 20px;
	margin-left: 0;
	padding: 10px;
	background: #333;
	float: left;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.group_permissions label {
	font-size: 1.6em;
}

div.group_permissions input[type="radio"] {
	vertical-align: 0;
	margin-left: 10px;
}

div.group_permissions table {
	width: 438px;
}

div.group_permissions td {
	padding: 10px;
}

div.group_permissions p.empty {
	padding: 300px 0 0 0;
	font-size: 1.6em;
	text-align: center;
}
*/