#wrap_main_sidebar{	
	float: left;
	width: 210px;
}
#logo{
	margin: 40px 0;
	text-align: center;
}
#logo img{
	width: 160px;
}
#main_sidebar{
	width: 100%;
	padding: 10px 0;
	background: url('../../img/users/main_sidebar.png');
}
#main_sidebar div.avatar{
	width: 60px;
	height: 60px;
	margin-right: 10px;
	float: left;
	background: #000;
}
#main_sidebar div.current_user_controls{
	padding: 10px 20px;
}
#main_sidebar div.current_user_controls ul{
	float: left;
}
#main_sidebar div.current_user_controls li{
	list-style: none;
}
#main_sidebar div.current_user_controls li a{
	line-height: 1.5em;
	font-size: 1.3em;	
}
#main_sidebar div.search{
	padding: 10px 20px;
	position: relative;
}
#main_sidebar div.search div.input label{
	font-size:16px;
	position:absolute;
	left:26px;
	top:16px;
	color: #949494;
}
#main_sidebar div.search div.input input[type="text"]{
	font-size: 16px;
	padding: 3px;
	width: 162px;
}
#main_sidebar div.search div.submit input[type="submit"]{
	text-indent: -9999px;
	height: 16px;
	width: 16px;
	position:absolute;
	right:26px;
	top:16px;
	background-image: url('../../img/icons/magnifier.png');
}