#profile{
	float: left;
	width:770px;
}
#profile_head{
	background: url('../../img/users/profile_summary.png') no-repeat top right;
}
#profile_body{
	background: #5c5c5c;	
	border: 1px solid #787878;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #333;
}