div.message{
	padding: 10px;
	background: #444;
	margin-bottom: 10px;
	position: relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.message.unread{
	background: #333;
}
div.message div.status{
	position: absolute;
	top:31px;
	left:10px;
}
div.message div.avatar{
	float: left;
	margin: 0 10px 0 26px;
}
div.message div.message_content h1{
	font-size: 1.6em;
	line-height: 1.8em;
	margin: 0 15px  0;
	overflow: hidden;
	font-weight: normal;
}
div.message div.message_content p{
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 0 15px 15px 0;
	overflow: hidden;
}
div.message.unread div.message_content h1,
div.message.unread div.message_content p{
	font-weight: bold;
}
div.message div.time{
	position: absolute;
	bottom:10px;
	right: 10px;
}
div.message div.check{
	position: absolute;
	top:31px;
	right: 10px;
}
div.message div.time p{
	color: #888;
	font-size: 1.1em;
	font-weight: bold;
}
